<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF - 8">
    <meta name = "viewport" content = "width = device-width, initial-scale=1.0">
    <title>
        checklist+
    </title>
</head>

<body>

    <h1>
        checklist+
    </h1>

    <ul>
        {% for task in tasks %}
            <li>
                {{task.task}}
            </li>
        {% endfor %}
    </ul>

    <!--This body is to make a button to add a task-->
    <form action = "/add_task" method = "post">
        <input type = "text" name = "task" palceholder = "Enter a new task" required>
        <button type = "submit">
            Add Task
        </button>
    </form>
</body>
</html>