<!DOCTYPE html>
<html lang="en">

<head>
    <!--basic setup process-->
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale=1.0">
    <title>
        checklist+
    </title>
</head>

<!--holds the body of the webpage-->
<body>

    <!--This is the title of the application, this is a type header-->
    <h1>
        checklist+
    </h1>

    <!--This is to display all the tasks currently in the list of tasks, done using a for loop-->
    <ul>
        {% for task in tasks %}
            <li>
                {{task.task}}
            </li>
        {% endfor %}
    </ul>

    <!--This body is to make a button to add a task-->
    <form action = "/add_task" method = "post">
        <!--this makes a text box to enter the task you want to enter-->
        <input type = "text" name = "task" placeholder = "Enter a new task">
        <button type = "submit">
            Add Task
        </button>
    </form>

    <!--Adding a textbox and button to remove a task from the list by id tag-->
    <form action = "/delete_task" method = "post">
        <input type = "text" name = "task_id" placeholder="Enter the task number">
        <button type = "submit">
            Delete task
        </button>
    </form>

    <!--Adding a textbox to give a general request to the AI model to generate tasks automatically-->
    <form action = "/generate_tasks" method = "post">
        <input type = "text" name = "general_request" placeholder="Enter a prompt">
        <button type = "submit">
            Generate tasks
        </button>
    </form>
</body>
</html>