<!DOCTYPE html>
<html lang="en">

<head>
    <!--basic setup process-->
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale=1.0">
    <title>
        checklist+
    </title>

    <!--this is linking the css rules to this HTML file-->
    <!--error encountered-note that the css file must be in a static folder-->
    <link rel="stylesheet" type="text/css" href='static/formatting.css'>
</head>

<!--holds the body of the webpage-->
<body>

    <!--This is the title of the application, this is a type header-->
    <center>
    <h1>
        checklist+
    </h1>
    </center>

    <!--This is to display all the tasks currently in the list of tasks, done using a for loop-->
    <!--ul=unordered list, li=list item-->
    <center>
    <ul>
        {% for task in tasks %}
            <li>
                <!--adding a button before each task to remove it with a dynamically added id tag-->
                <form action = "/delete_task" method = "post" style="margin: 0;">
                    <input type="hidden" name = "task_id" value="{{task.id}}"> 
                    <button type="submit" class="delete_button"></button>
                    {{task.task}} 
                </form>
            </li>
        {% endfor %}
    </ul>
    </center>

    <!--This body is to make a button to add a task-->
    <form action = "/add_task" method = "post">
        <!--this makes a text box to enter the task you want to enter-->
        <input type = "text" name = "task" placeholder = "Enter a new task">
        <button type = "submit">
            Add Task
        </button>
    </form>

    <!--Adding a textbox and button to remove a task from the list by id tag-->
    <!--commented out kept if needed for debugging-->
    <!--
    <form action = "/delete_task" method = "post">
        <input type = "text" name = "task_id" placeholder="Enter the task number">
        <button type = "submit">
            Delete task
        </button>
    </form>
    -->

    <!--Adding a textbox to give a general request to the AI model to generate tasks automatically-->
    <form action = "/generate_tasks" method = "post">
        <input type = "text" name = "general_request" placeholder="Enter a prompt">
        <button type = "submit">
            Generate tasks
        </button>
    </form>

    <!--creating the button to clear all tasks from the list by id-->
    <form action = "/clear_all" method = 'post'>
        <button type = "submit">
            Clear all tasks
        </button>
    </form>
</body>
</html>